body{
   
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur;
}

header{background-color:darkslategray;
                padding:2px;
				margin:0px;
				height:20%;
				font-size:28px;
				color:white;
                text-align:center;}

.logo img{width:10%; height:90%;
float:left;}


 hr {background-color: black;
            border: 1px black;
            height: 4px;}

h1,h2,h3,h4,p{font-family:'Lemon', cursive;}

h4{background-color:darkblue;
    color:white;
font-size:20px;}

th{font-size:24px;
    color:chocolate;
    text-align:left;
padding:10px;}

td{font-size:18px;
    color:white;
padding:10px;}

a{text-decoration-line:none;
color:white;}

a:hover{color:yellow;}

ul {font-size:22px;
        margin: 0;
        padding:0;
        }

        li {
            float: left;
            display: inline;
            position: relative;
            background-color:#333;
            list-style: none;
        }

        ul ul {background-color:#333;
            font-size:20px;
            
            left:0;
            width:100%;
            top:100%;
            display:none;
        }

        li:hover ul{background-color:#333;
            position:absolute;
            display:inline-block;
            top:52;
        }

        li a{
            display: inline-block;
            color: white;
            text-align: center;
            padding: 15px 35px;
            text-decoration: none;
        }

        li a:hover:not(.active){
            display:inline-block;
            background-color: #ff531a;
            color: white;
        }

.active {color:black;
    background-color:mediumspringgreen;
}

.abt{background-color:navajowhite;
padding:10px;
color:black;
    opacity: 0.8;
    
font-size:25px;}

.teamsectn{background-color:none;
padding:2px;}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {background-color:white;
  box-shadow: 0 4px 8px 0 rgba(6, 3, 6, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.consectn{background-color:#333333;
color:white;
font-size:16px;
padding:20px; }

    footer{background-color:black;
   				 	color:white;
   				 	margin:0;
   				 	padding:10px;}
}