body{
    background:url(backgrnds/accommodationmargao.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;}

header{background-color:darkslategray;
                padding:2px;
				margin:0px;
				height:20%;
				font-size:28px;
				color:white;
                text-align:center;}

.logo img{width:10%; height:90%;
float:left;}

 hr {background-color: black;
            border: 1px black;
            height: 4px;}


ul {font-size:22px;
        margin: 0;
        padding:0;
        }

        li {
            float: left;
            display: inline;
            position: relative;
            background-color:#333;
            list-style: none;
        }

        ul ul {background-color:#333;
            font-size:20px;
            left:0;
            width:100%;
            top:100%;
            display:none;
        }

        li:hover ul{background-color:#333;
            position:absolute;
            display:inline-block;
            top:52;
        }

        li a{
            display: inline-block;
            color: white;
            text-align: center;
            padding: 15px 35px;
            text-decoration: none;
        }

        li a:hover:not(.active){
            display:inline-block;
            background-color: #ff531a;
            color: white;
        }
        
.myslides{
  		  margin:0 auto;
  		  width:80%;
		  height:600px;
          max-height:100%;
  		  max-width:900px;
  		  min-width:700px;}

section.d{object-position:center;
        padding:0; 
        border:5px solid black;
        width:60%;
        height:70%;
        left:30px;}

.abt{background-color:sandybrown;
padding:10px;
color:black;
    opacity: 0.8;
    
font-size:20px;}
p,h1,h2{
    font-family: 'Lemon', cursive;
}

th{font-size:24px;
    color:chocolate;
    text-align:left;
padding:10px;}

td{font-size:18px;
    color:white;
padding:20px;}

a.cntsctn{text-decoration-line:none;
color:white;}

a.cntsctn:hover{color:yellow;}

.consectn{background-color:#333333;
color:white;
font-size:16px;
padding:20px;}


footer{background-color:black;
   				 	color:white;
   				 	margin:0;
   				 	padding:10px;}

 .active {color:black;
            background-color:mediumspringgreen;

